# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MAC System
.DS_Store

# Report
doc/
*.pdf

# Pyenv
.python-version

# Compiler
*.lex
*.yacc

# Product
*.py
*.ll
C_lexical.cpp
C_syntax.cpp
C_syntax.hpp
compiler
